* {
    box-sizing: border-box;
}



/* CSS псевдо-елемент використовується для стилізації визначених частин елемента. */
/* Наприклад, його можна використовувати для:

Стилізації першої літери або рядка елемента
Вставки змісту до або після змісту елемента */

/* 1. ::first-letter - вибирає першу літеру в елементі і стилізує її */

/*p::first-letter {
    font-size: 30px;
    color: red;
}

/* 2. ::first-line - вибирає перший рядок в елементі і стилізує його, навіть при звуженні розширенні екрану буде стилізовна те що влазить в перший рядок */

/*p::first-line {
    font-style: italic;
}

/* 3. ::selection - дозволяє стилізувати фон тексту коли ми його виділяємо курсором (наприклад щоб скопіювати) */
/* тут ми для всіх елементів на сторінці задаємо колір виділення тексту, також можем змінювати колір самого тексту граючись з контрастами і кольоровими гамами */
/* цей псевдоелеемнт можна використовувати і для якогось конкретного елементу */

/**::selection {
    background-color: aquamarine;
}

/* 4. ::before - додає щось перед елементом прицьому він не вливається в потік документа і не вважається контентом*/

/*p::before {
    content: '***';
}

/* 5. ::after - додає щось після елементу прицьому він не вливається в потік документа і не вважається контентом*/
/* але псевдоелементи first-letter та first-line впливають на before та after */

/*p::after {
    content: '***';
    color: red;
}


/* Add quotes to h1*/
/*h1:before {
    content: '<<';
    color: blue;
}

h1::after {
    content: '>>';
    color: blue;
}

/* 6. ::marker -  дозволяє змінити стандартний маркер для елементів списку на будь який інший марккер*/
/* звернути увагу не reset.css, якщо ресет відмінив всі маркери для списків то треба стилями знову їх додати через list-style-type*/

/*li::marker {
    content: '❤';
    color: crimson;
}

/* 7. ::counter - змінні css значення якийх може бути інкрементоване за допомогою css для відслідковування кількості їх використання, наприклад пронумерувати всі заголовки, пронумерувати всі секції, пронумерувати будь який елемент від будь якого початкового значенння тощо (щось схоже на нумерований список ol) */
/* перед тим як почати роботу з лічильником потрібно скинути його значення до 0 за допомогою reset-counter */

/*body {
    counter-reset: section; /*встановлює значення лічильника 0 для всіх елементів body*/
/*}

p::before {
    counter-increment: section; /*інкрементує лічильник, збільшує на 1 напр*/
    /*content: "Параграф " counter(section) ": "; /*відображає поточне значення лічильника*/
/* } */


/* ------Робимо картки використовуючи псевдоелементи та позиціонування------ */

body {
    font-family: sans-serif;
    padding: 5px;
}

.order {
    position: relative;
    overflow: hidden;
    color: white;
    width: 100%;
    min-width: 300px;
    max-width: 350px;
    padding: 25px;
    background-image: linear-gradient(to right, #8ccaf4, #41a8ea);
    border-radius: 5px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.order-count {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 40px;
}
.order::before,
.order::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
}

.order::before {
    bottom: -90px;
    right: -20px;
    width: 180px;
    height: 180px;
}

.order::after {
    top: -20px;
    right: -60px;
    width: 150px;
    height: 150px;
}